<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Patryk - Portfolio</title>

    <link rel="stylesheet" href="css/app.css" />
</head>

<body>
    <button class="btn--clear open">
        <img src="images/open-icon.svg" alt="open navigation">
    </button>
    <div class="main-content page-content">

        {% include "nav.html" %}
        {% block content %}{% endblock %}
    </div>

    <script src="js/main.js"></script>
</body>

</html>
