{% extends "base.html" %}

{% block content %}
<div class="page-width contact">
    <h1 class="page-title">Contact</h1>
    <form action="/thank-you">
        <input type="text" name="contact_name" id="contact_name" placeholder="Name:">
        <label for="contact_name"></label>
        <input type="email" name="contact_email" id="contact_email" placeholder="Contact:">
        <label for="contact_email"></label>
        <textarea name="contact_msg" id="contact_msg" cols="30" rows="4" placeholder="Message:"></textarea>
        <a type="submit" href="thank-you.html">Send Message</a>
    </form>
</div>
{% endblock %}
