{% extends "base_with_modal.html" %}

{% block content %}
<div class="page-width gallery">
    <h1 class="page-title">Design</h1>
    <div class="boxes">
        <div class="box"><img src="images/galeria/Group 663.png" alt="gallery image" class="box__image"></div>
        <div class="box"><img src="images/galeria/Group 664.png" alt="gallery image" class="box__image"></div>
        <div class="box"><img src="images/galeria/Group 665.png" alt="gallery image" class="box__image"></div>
        <div class="box"><img src="images/galeria/Group 666.png" alt="gallery image" class="box__image"></div>
        <div class="box"><img src="images/galeria/Group 667.png" alt="gallery image" class="box__image"></div>
        <div class="box"><img src="images/galeria/Group 668.png" alt="gallery image" class="box__image"></div>
        <div class="box"><img src="images/galeria/Group 669.png" alt="gallery image" class="box__image"></div>
        <div class="box"><img src="images/galeria/Group 670.png" alt="gallery image" class="box__image"></div>
        <div class="box"><img src="images/galeria/Group 671.png" alt="gallery image" class="box__image"></div>
        <div class="box"><img src="images/galeria/Group 672.png" alt="gallery image" class="box__image"></div>
        <div class="box"><img src="images/galeria/Group 673.png" alt="gallery image" class="box__image"></div>
        <div class="box"><img src="images/galeria/Group 674.png" alt="gallery image" class="box__image"></div>
    </div>
</div>
{% endblock %}
