.thankYou {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    background-image: url('../images/thank_you.png');
    background-position: center center;
}