.boxes {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px;
    .box {
        width: 25%;
        height: 25vh;
        box-sizing: border-box;
        padding: 20px;
        display: flex;

        &__inside {
            width: 100%;
            background-color: black;
        }
    }
}